<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spring Boot Contacts</title>
		<link rel="stylesheet" th:href="@{/style.css}" />
	</head>
	<body>
		<h2>Spring Boot Contacts</h2>
		<form method="POST">
			<label for="ip">IP:</label>
			<input type="text" name="ip"></input><br/>
			<label for="machine">Machine:</label>
			<input type="text" name="machine"></input><br/>
			<label for="zone">Zone:</label>
			<input type="text" name="zone"></input><br/>
			<label for="schedule">Schedule:</label>
			<input type="text" name="schedule"></input><br/>
			<input type="submit"></input>
		</form>
		<ul th:each="machineschedule : ${machineSchedules}">
			<li>
				<span th:text="${machineschedule.ip}">ip</span>
				<span th:text="${machineschedule.machine}">machine</span> :
				<span th:text="${machineschedule.zone}">zone</span>,
				<span th:text="${machineschedule.schedule}">schedule</span>
			</li>
		</ul>
	</body>
</html>