<html>
	<head>
		<link rel="stylesheet" href="../assets/pages/css/CalendarStyle.css">
	</head>
	<body>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../assets/pages/scripts/CalendarScript.js"></script>
	
		<table cellpadding="0" cellspacing="0" id="our_table">
		  <tr>
		    <td>a</td>
		    <td>b</td>
		    <td>c</td>
		  </tr>
		  <tr>
		    <td>d</td>
		    <td>e</td>
		    <td>f</td>
		  </tr>
		  <tr>
		    <td>g</td>
		    <td>h</td>
		    <td>i</td>
		  </tr>
		</table>
	</body>
</html>